<div class="details-layout">
  <div class="card rounded-2">
    <div class="card-body rounded-2">
      <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="row card-header">
          <h4 class="col-3">Forgot Password</h4>
        </div>
        <div class="form-group p-2">
          <label for="username_email">Username or Email:</label>
          <input type="text" id="username_email" name="username_email" class="form-control"
                 formControlName="usernameOrEmail">
          <small
            *ngIf="forgetPasswordForm.controls['usernameOrEmail'].invalid && forgetPasswordForm.controls['usernameOrEmail'].touched"
            class="red">
            Please enter username or email
          </small>
        </div>
        <div class="green" *ngIf="forgetPasswordMessage">
          {{ forgetPassword }}
        </div>
        <div class="red" *ngIf="!forgetPasswordMessage">
          {{ forgetPassword }}
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary col-2 m-3" [disabled]="forgetPasswordForm.invalid">Verify
          </button>
          <button type="button" class="btn btn-danger col-2 m-3" (click)="goOnLoginPage()">BackToLogin</button>
        </div>
      </form>
    </div>
  </div>
</div>
