<div class="container"><br>
  <div class="card rounded-2">
    <div class="card-header">
      <div class="row">
        <h4 class="col-11">Documents</h4>
        <button type="button" class="btn btn-primary col" (click)="onAdd()">Add</button>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-striped table-responsive">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Document Name</th>
          <th scope="col">File</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let document of documents">
          <td>{{document.name}}</td>
          <td><a href="javascript:void(0)" (click)="downloadFile(document.fileName)">{{ document.fileName }}</a></td>
        <td>
          <!--<button type="button" class="btn btn-primary m-1" (click)="goToEdit(leave.id)">Edit</button>
          --><button type="button" class="btn btn-danger m-1" (click)="deleteUser(document.id)">Delete</button>
        </td>
        </tr>
        </tbody>
      </table>
      </div>
  </div>
  <div>
