<div class="container"><br>
  <div class="card rounded-2">
    <div class="card-body rounded-2">
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <h4 class="card-header">Password Reset</h4>
        <div class="p-3">
          <div class="form-group p-2">
            <label for="old-password">
              Old Password<span class="red">*</span>
            </label>
            <input type="password" class="form-control" id="old-password" name="old-password"
                   formControlName="oldPassword">
            <small
              *ngIf="changePasswordForm.controls['oldPassword'].invalid && changePasswordForm.controls['oldPassword'].touched"
              class="red">
              Old Password is required
            </small>
          </div>
          <div class="form-group p-2">
            <label for="password">
              New Password<span class="red">*</span>
            </label>
            <input type="password" class="form-control" id="password" name="password"
                   formControlName="password">
            <small
              *ngIf="changePasswordForm.controls['password'].invalid && changePasswordForm.controls['password'].touched"
              class="red">
              Password is required
            </small>
            <small class="red"
                   *ngIf="changePasswordForm.controls['password'].errors && changePasswordForm.controls['password'].errors['minlength']">
              Please enter minimum length 8
            </small>
          </div>
          <div class="form-group p-1">
            <label for="confirmPassword">Confirm New Password<span class="red">*</span></label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                   formControlName="confirmPassword">
            <div
              *ngIf="changePasswordForm.controls['confirmPassword']?.touched && changePasswordForm.controls['confirmPassword']?.invalid"
              class="red">
              <small *ngIf="changePasswordForm.controls['confirmPassword']?.errors?.['required']">
                Password is required.</small>
              <small
                *ngIf="changePasswordForm.controls['confirmPassword']?.errors?.['confirmedValidator']">
                Password and
                Confirm Password must match.</small>
            </div>
            <div class="green" *ngIf="changePasswordCondition">
              {{ changePasswordMessage }}
            </div>
            <div class="red" *ngIf="!changePasswordCondition">
              {{ changePasswordMessage }}
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary m-3" [disabled]="changePasswordForm.invalid">Reset Password
            </button>
            <button class="btn btn-danger col-2" (click)="homePage()">BackToHome</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
